@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  src: url('/font/AvenirNextLTPro-Bold.woff2') format('woff2'),
}

@font-face {
  font-family: 'AvenirNextLTPro-Demi';
  src: url('/font/AvenirNextLTPro-Demi.woff2') format('woff2'),
}

@font-face {
  font-family: 'AvenirNextLTPro-Heavy';
  src: url('/font/AvenirNextLTPro-Heavy.woff2') format('woff2'),
}

@font-face {
  font-family: 'AvenirNextLTPro-Medium';
  src: url('/font/AvenirNextLTPro-Medium.woff2') format('woff2'),
}

@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url('/font/AvenirNextLTPro-Regular.woff2') format('woff2'),
}

@font-face {
  font-family: 'AvenirNextLTPro-UltLt';
  src: url('/font/AvenirNextLTPro-UltLt.woff2') format('woff2'),
}

body {
  font-family: 'AvenirNextLTPro-Regular',
    Fallback,
    sans-serif;

  img {
    max-width: 100%;
    object-fit: contain;
    height: auto;
  }
}

/* varible*/
$color-1: #CCCCCC;
$color-2: #13135E;
$color-3:#B4C3D4;
$color-4: #333333;
$color-5:#FFF6EB;
$color-6:#999999;
$color-7:#9A8C60;
$color-primary:#535660;
$color-highlight:#9A8C60;


.button {
  @extend button;
}

img.img-cover {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  background-color: $color-7;
  border: unset;
  color: white;
  font-size: 12px;
  line-height: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  &:focus {
    outline: none;
  }

  &.button-style-2 {
    background-color: white;
    border: 1px solid $color-7;
    color: $color-7;
  }
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  .container {
    max-width: 1200px;
  }

  // custom
  .carousel-indicators-custom {
    position: relative;
    width: 100%;
    margin-top: 32px;

    li {
      width: 14px;
      height: 14px;
      border: 1px solid $color-7;
      opacity: 1;
      background-color: white;

      border-radius: 99px;

      &.active {
        background: $color-7;
      }
    }
  }

  input {
    &:focus {
      outline: unset;
    }
  }

  ul {
    list-style: none;
    padding: 0px;
  }

  // head
  header {
    .top {
      background-color: #232323;
      height: 63px;
      display: flex;
      align-items: center;

      .hotline {
        color: white;
        display: flex;
        align-items: center;

        span {
          color: #9B9B9B;
        }
      }

      .contact {
        font-size: 14px;
        line-height: 17px;

        .button {
          width: 117px;
          height: 37px;
        }

        a {
          color: white;
          margin-left: 29px;
        }
      }
    }

    .banner {
      padding-top: 44.6875%;

      &.banner-medium {
        padding-top: 33.75%;
      }

      position: relative;

      .banner-img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        position: absolute;
      }

      .menu {
        top: 0px;
        left: 0px;
        width: 100%;
        position: absolute;
        background: rgba(35, 35, 35, 0.5);
        background: rgba(35, 35, 35, 0.5);
        display: flex;
        align-items: center;
        height: 50px;

        @media(min-width: 768px) {
          height: 84px;
        }

        ul.nav {
          li.item {
            display: inline-flex;
            align-items: center;
            font-size: 13px;
            padding: 5px;

            @media(min-width: 768px) {
              font-size: 16px;
              padding: 0px;
            }

            line-height: 19px;

            a {
              color: white;
            }
          }
        }
      }

      .banner-text-content {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .description {
          font-size: 16px;

          @media (max-width: 768px) {
            font-size: 1vw;
            line-height: 1vh;
          }

          line-height: 19px;
          text-align: center;
          letter-spacing: 4px;
          text-transform: uppercase;

          color: #D1D1D1;

          &.banner-text-content-breadcrumb {
            text-transform: capitalize;

            span {
              color: #B8B8B8;
              font-size: 16px;
              line-height: 19px;
            }
          }
        }

        .title {
          font-style: normal;
          font-weight: 500;

          @media (max-width: 768px) {
            font-size: 3vw;
            line-height: 3vh;
          }

          font-size: 58px;
          line-height: 70px;

          text-align: center;

          color: #FFFFFF;
        }
      }
    }


  }

  section {
    .title {
      font-weight: 500;
      font-size: 44px;
      line-height: 59px;
      text-align: center;
      color: #232323;
      margin-bottom: 56px;
    }

    margin-top: 104px;

    // Home css
    &.section-1 {
      .carousel {
        margin: -10px;

        .carousel-item {
          .box-content {
            display: inline-flex;
            width: 100%;
            padding: 10px;

            .cover {
              max-width: 769px;
              width: 100%;
              position: relative;

              img {
                // position: absolute;
                // width: 100%;
                // height: 100%;
                // top: 0px;
                // left: 0xp;
                object-fit: cover;
              }

              // padding-top: 70.481144%;
            }

            .content {
              max-width: 100%;
              width: 100%;

              @media (min-width:768px) {
                max-width: 400px;
                width: 100%;
              }

              display: flex;
              justify-content: center;
              box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
              padding-top: 48px;

              &>div {
                max-width: 278px;
              }

              h3 {
                font-weight: 500;
                font-size: 26px;
                line-height: 37px;
                color: #4A4A4A;
              }

              p {
                font-size: 16px;
                line-height: 24px;
                color: #4A4A4A;
                margin-bottom: 43px;

              }

              ul {
                padding: 0px;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 27px;

                li {
                  width: 50%;

                  img {
                    margin-right: 10px;
                  }
                }
              }

              button {
                width: 125px;
                height: 35px;
              }
            }
          }
        }


      }
    }

    &.section-2 {
      ul {
        list-style: none;
        padding: 0px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        @media (min-width: 768px) {
          margin-right: -30px;
        }

        li {
          width: 100%;
          max-width: 570px;

          @media (min-width: 768px) {
            margin: 15px;
          }

          .item {
            position: relative;
            padding-top: 64.561%;
            width: 100%;

            .item-title {
              position: absolute;
              padding: 9px 30px;
              left: 0;
              bottom: 14px;
              z-index: 2;
              background: rgba(249, 249, 249, 0.8);
            }

            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 1;
            }
          }

        }

      }

      .button {
        margin: 0 auto;
        width: 170px;
        height: 50px;
        margin-top: 56px;
      }
    }

    &.section-3 {
      ul {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(1, 1fr);

        @media (min-width: 768px) {
          grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        }

        // grid-template-rows: repeat(2, 397px);

        li {
          max-width: 100%;

          >img {
            width: 100%;
          }

          @media (min-width: 768px) {
            max-width: 270px;

          }

          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
          margin-bottom: 56px;

          .item-content {
            padding: 22px 19px 35px;

            .item-title {
              font-size: 12px;
              line-height: 14px;
              color: #4A4A4A;
            }

            .description {
              margin-top: 21px;
              font-size: 16px;
              line-height: 19px;

              color: #535660;
            }

            .item-read-more {
              color: $color-7;
              margin-top: 24px;
              display: inline-block;
              cursor: pointer;

              img {
                margin-left: 8px;
              }
            }


          }
        }
      }

      button {
        width: 134px;
        height: 37px;
      }
    }
  }

  // service css
  .page-services-section-1 {
    .page-services-card-list {
      display: flex;

      li {
        max-width: 570px;
        width: 100%;

        .cover {
          width: 100%;
          position: relative;
          padding-top: 61.4035%;

        }

        .item-content {
          .item-title {
            color: #4E4E4E;
            font-weight: 500;
            font-size: 26px;
            line-height: 37px;
            font-family: "AvenirNextLTPro-Medium",
              Times,
              serif;
          }

          .page-services-section-1-time {
            font-size: 14px;
            line-height: 17px;
            margin-top: 15px;
            color: #7C7C7C;

            span {
              color: #232323;
            }
          }

          .description {
            font-size: 14px;
            line-height: 24px;
            color: #4E4E4E;
          }
        }
      }
    }
  }

  .page-services-section-2 {
    background-color: #EFEFEF;
    padding-top: 80px;
    padding-bottom: 98px;

    .page-services-section-2-carousel-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        font-size: 16px;
        line-height: 30px;
        color: #4A4A4A;
        width: 678px;
        max-width: 100%;
        text-align: center;
        margin-bottom: 55px;
      }

      .short-name {
        background: #9A8C60;
        width: 52px;
        height: 52px;
        border-radius: 99px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        color: #EFEFEF;
      }

      .name {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        margin-top: 8px;
        color: #535660;
      }
    }

    .carousel-indicators {
      @extend .carousel-indicators-custom;
      margin: 0 auto;
      margin-top: 55px;
      position: relative;

    }
  }

  footer {
    border: 1px solid #F1F3F8;
    padding-top: 80px;
    margin-top: 23px;

    h1.title {
      text-align: center;
      font-family: 'AvenirNextLTPro-Medium';
      margin-bottom: 24px;
    }

    .description {
      text-align: center;

      span {
        color: #4A4A4A;
        font-size: 18px;
        line-height: 22px;
      }
    }

    form {
      margin-top: 56px;

      input[type=email] {
        border: unset;
        border-bottom: 1px solid #E8E8E8;
        width: 364px;
        padding: 0px;
        height: 33px;
        margin-bottom: -1px;

        &::-webkit-input-placeholder {
          font-size: 14px;
          line-height: 17px;
          color: #9B9B9B;
        }
      }

      button {
        width: 133.93px;
        height: 32px;

      }
    }

    .footer-content {
      border-top: 1px solid #F1F3F8;
      margin-top: 104px;
      padding-top: 104px;
      font-size: 14px;
      line-height: 34px;

      a {

        color: $color-primary;
      }

      .address {
        a {

          color: $color-highlight;
        }
      }
    }

    .coppy-right {
      display: flex;
      align-items: center;
      height: 102px;
      border-top: 1px solid #F1F3F8;
      font-size: 14px;
      line-height: 17px;
      color: #CDCDCD;
    }
  }
}