@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  src: url('/font/AvenirNextLTPro-Bold.woff2') format('woff2'),
}

@font-face {
  font-family: 'AvenirNextLTPro-Demi';
  src: url('/font/AvenirNextLTPro-Demi.woff2') format('woff2'),
}

@font-face {
  font-family: 'AvenirNextLTPro-Heavy';
  src: url('/font/AvenirNextLTPro-Heavy.woff2') format('woff2'),
}

@font-face {
  font-family: 'AvenirNextLTPro-Medium';
  src: url('/font/AvenirNextLTPro-Medium.woff2') format('woff2'),
}

@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url('/font/AvenirNextLTPro-Regular.woff2') format('woff2'),
}

@font-face {
  font-family: 'AvenirNextLTPro-UltLt';
  src: url('/font/AvenirNextLTPro-UltLt.woff2') format('woff2'),
}

/* varible*/
$color-1: #CCCCCC;
$color-2: #13135E;
$color-3:#B4C3D4;
$color-4: #333333;
$color-5:#FFF6EB;
$color-6:#999999;
$color-7:#9A8C60;
$color-primary:#535660;
$color-highlight:$color-7;

body {
  font-family: 'AvenirNextLTPro-Regular',
    Fallback,
    sans-serif;

  .line-height-30 {
    line-height: 30px;
  }

  .component-title-medium {
    font-family: "AvenirNextLTPro-medium";
    font-size: 24px;
    line-height: 37px;
    color: #4A4A4A;
  }

  .font-weight-medium {
    font-family: "AvenirNextLTPro-medium";
  }

  .max-width-970 {
    width: 100%;
    max-width: 100%;

    @media (min-width: 970px) {
      width: 970px;
    }

    margin: 0 auto;
  }

  .line-height-19 {
    line-height: 19px;
  }

  .margin-bottom-30 {
    margin-bottom: 30px;
  }

  .margin-bottom-56 {
    margin-bottom: 56px;
  }


  .title--small {
    font-size: 18px !important;
    line-height: 22px !important;

    text-align: center;

    color: #4E4E4E;
  }

  .text--small {
    font-size: 14px;
    line-height: 24px;
    color: #7C7C7C;
  }

  a {
    &:hover {
      color: $color-highlight !important;
      text-decoration: unset;
    }
  }

  .button {
    @extend button;
  }

  .color--highlight {
    color: $color-highlight;
  }

  .color--no-highlight {
    color: #7C7C7C;
  }

  img {
    max-width: 100%;
    object-fit: contain;
    height: auto;
  }

  .datepicker {
    width: 430px;
    border: unset;
    border-radius: unset;
    &.datepicker-dropdown {
      &:after {
        display: none;
      }

      &:before {
        display: none;
      }

      .table-condensed {
        width: 100%;
      }
    }
  }

  #datepicker {
    background: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 0px;
    padding-right: 0px;
    &:hover{
      outline-style: unset;
    }
    .btn-group {
      box-shadow: unset;
    }
  }
}






img.img-cover {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  background-color: $color-7;
  border: unset;
  color: white;
  font-size: 12px;
  line-height: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.777778px;
  text-transform: uppercase;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: white;
    outline-style: solid;
    color: $color-7;
  }

  // &.button-style-2 {
  //   background-color: white;
  //   border: 1px solid $color-7;
  //   color: $color-7;
  // }
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  .container {
    max-width: 1200px;
  }

  // custom
  .carousel-indicators-custom {
    position: relative;
    width: 100%;
    margin-top: 32px;

    li {
      width: 14px;
      height: 14px;
      border: 1px solid $color-7;
      opacity: 1;
      background-color: white;

      border-radius: 99px;

      &.active {
        background: $color-7;
      }
    }
  }

  input {
    &:focus {
      outline: unset;
    }
  }

  select {
    height: 46px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url(/image/icon-dropdown-select.svg);
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 18px;
    border-radius: 2px;
    padding-left: 1rem;

    &:focus {
      outline: unset;
    }
  }

  ul {
    list-style: none;
    padding: 0px;
  }

  // head
  header {
    .top {
      background-color: #232323;
      height: 63px;
      display: flex;
      align-items: center;

      .hotline {
        color: white;
        display: flex;
        align-items: center;

        span {
          color: #9B9B9B;
        }
      }

      .contact {
        font-size: 14px;
        line-height: 17px;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;

        .button {
          width: 117px;
          height: 37px;
        }

        a {
          color: white;
          margin-left: 29px;
        }
      }
    }

    .banner {
      padding-top: 44.6875%;

      &.banner-medium {
        padding-top: 33.75%;
      }

      position: relative;

      .banner-img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        position: absolute;
      }

      .menu {
        top: 0px;
        left: 0px;
        width: 100%;
        position: absolute;
        background: rgba(35, 35, 35, 0.5);
        background: rgba(35, 35, 35, 0.5);
        display: flex;
        align-items: center;
        height: 50px;

        @media(min-width: 768px) {
          height: 84px;
        }

        ul.nav {
          li.item {
            display: inline-flex;
            align-items: center;
            font-size: 13px;
            padding: 5px;

            @media(min-width: 768px) {
              font-size: 16px;
              padding: 0px;
            }

            line-height: 19px;

            a {
              color: white;
            }
          }
        }
      }

      .banner-text-content {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .description {
          font-size: 16px;

          @media (max-width: 768px) {
            font-size: 1vw;
            line-height: 1vh;
          }

          line-height: 19px;
          text-align: center;
          letter-spacing: 4px;
          text-transform: uppercase;

          color: #D1D1D1;

          &.banner-text-content-breadcrumb {
            text-transform: capitalize;

            span {
              color: #B8B8B8;
              font-size: 16px;
              line-height: 19px;
            }
          }
        }

        .title {
          font-style: normal;
          font-weight: 500;

          @media (max-width: 768px) {
            font-size: 3vw;
            line-height: 3vh;
          }

          font-size: 58px;
          line-height: 70px;

          text-align: center;

          color: #FFFFFF;
        }
      }
    }

    .form-select-room {
      bottom: 0px;
      left: 50%;
      transform: translate(-50%, 0%);

      .form-select-room__select__button {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 270px;
        height: 83px;
      }

      .form-select-room__select {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        &.form-select-room__select__datepicker1 {
          width: 216px;
        }

        &.form-select-room__select__datepicker2 {
          width: 214px;
        }

        .dropdown-menu {
          top: -3px !important;
          border: unset;
          background: #F9F9F9;
        }

        a {
          width: 270px;
          height: 62px;

          &:hover {
            background: #C4C4C4;
          }
        }

        button {
          width: 270px;
          height: 83px;
          background: #F9F9F9;
          border-radius: unset;

          &:hover {
            outline: unset;
          }

          &:focus {
            box-shadow: unset;
          }
        }
      }
    }

  }

  section {
    .title {
      font-family: "AvenirNextLTPro-medium";
      font-size: 44px;
      line-height: 59px;
      text-align: center;
      color: #232323;
      margin-bottom: 56px;
    }

    margin-top: 104px;

    // Home css
    &.section-1 {
      .carousel {
        margin: -10px;

        .carousel-item {}


      }

      .box-content {
        display: inline-flex;
        width: 100%;
        padding: 10px;

        .cover {
          max-width: 769px;
          width: 100%;
          position: relative;

          img {
            // position: absolute;
            // width: 100%;
            // height: 100%;
            // top: 0px;
            // left: 0xp;
            object-fit: cover;
          }

          // padding-top: 70.481144%;
        }

        .content {
          max-width: 100%;
          width: 100%;

          @media (min-width:768px) {
            max-width: 400px;
            width: 100%;
          }

          display: flex;
          justify-content: center;
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
          padding-top: 48px;

          &>div {
            max-width: 278px;
          }

          h3 {
            font-weight: 500;
            font-size: 26px;
            line-height: 37px;
            color: #4A4A4A;
          }

          p {
            font-size: 16px;
            line-height: 24px;
            color: #4A4A4A;
            margin-bottom: 43px;

          }

          ul {
            padding: 0px;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 27px;

            li {
              width: 50%;

              img {
                margin-right: 10px;
              }
            }
          }

          button {
            width: 125px;
            height: 35px;
          }
        }
      }
    }

    &.section__map {
      .section__map__info__container {
        max-width: 100%;
        width: 100%;
        padding-bottom: 40px;
        background: #FFFFFF;
        -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        position: relative;

        @media (min-width:768px) {
          position: absolute;
          top: 50%;
          right: 19%;
          transform: translate(0%, -50%);
          width: 370px;
        }

        .section__map__info {
          max-width: 254px;

          .section__map__info__title {
            font-family: "AvenirNextLTPro-medium";
            margin-bottom: 0px;
            font-size: 32px;
            line-height: 59px;
            color: #000000;
            margin-top: 43px;
          }

          .section__map__info__content {
            font-size: 16px;
            line-height: 21px;
            color: #4E4E4E;
            margin-top: 11px;
            max-width: 225px;
          }

          .section__map__info__status {
            margin-top: 14px;
            font-size: 12px;
            line-height: 14px;
            text-align: justify;
            text-transform: uppercase;

            color: #9A8C60;
          }

          .section__map__info__hotline__email {
            margin-top: 8px;

            &:first-child {
              margin-top: 27px;
            }

            font-size: 16px;
            line-height: 19px;
            text-align: justify;
            color: #4A4A4A;

            span {
              color: $color-highlight;
            }
          }

          button {
            width: 128px;
            height: 42px;
            margin-top: 41px;
          }

        }
      }

    }

    &.section-2 {
      ul {
        list-style: none;
        padding: 0px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        @media (min-width: 768px) {
          margin-right: -30px;
        }

        li {
          width: 100%;
          max-width: 570px;

          @media (min-width: 768px) {
            margin: 15px;
          }

          .item {
            position: relative;
            padding-top: 64.561%;
            width: 100%;

            .item-title {
              position: absolute;
              padding: 9px 30px;
              left: 0;
              bottom: 14px;
              z-index: 2;
              background: rgba(249, 249, 249, 0.8);
            }

            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 1;
            }
          }

        }

      }

      .button {
        margin: 0 auto;
        width: 170px;
        height: 50px;
        margin-top: 56px;
      }
    }

    &.section-3 {
      ul {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 55px;

        @media (min-width: 768px) {
          grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        }

        // grid-template-rows: repeat(2, 397px);

        li {
          max-width: 100%;

          >img {
            width: 100%;
          }

          @media (min-width: 768px) {
            max-width: 270px;
            max-width: 270px;
            margin: 0px auto;
          }

          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
          margin-bottom: 56px;

          .item-content {
            padding: 22px 19px 35px;

            .item-title {
              font-size: 12px;
              line-height: 14px;
              color: #4A4A4A;
            }

            .description {
              margin-top: 21px;
              font-size: 16px;
              line-height: 19px;

              color: #535660;
            }

            .item-read-more {
              color: $color-7;
              margin-top: 24px;
              display: inline-block;
              cursor: pointer;

              img {
                margin-left: 8px;
              }
            }


          }
        }
      }

      button {
        width: 134px;
        height: 37px;
      }
    }
  }

  // service
  .page-services-section-1 {
    .page-services-card-list {
      display: flex;

      li {
        max-width: 570px;
        width: 100%;

        .cover {
          width: 100%;
          position: relative;
          padding-top: 61.4035%;

        }

        .item-content {
          .item-title {
            color: #4E4E4E;
            font-weight: 500;
            font-size: 26px;
            line-height: 37px;
            font-family: "AvenirNextLTPro-Medium",
              Times,
              serif;
          }

          .page-services-section-1-time {
            font-size: 14px;
            line-height: 17px;
            margin-top: 15px;
            color: #7C7C7C;

            span {
              color: #232323;
            }
          }

          .description {
            font-size: 14px;
            line-height: 24px;
            color: #4E4E4E;
          }
        }
      }
    }
  }

  .page-services-section-2 {
    background-color: #EFEFEF;
    padding-top: 80px;
    padding-bottom: 98px;

    .page-services-section-2-carousel-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        font-size: 16px;
        line-height: 30px;
        color: #4A4A4A;
        width: 678px;
        max-width: 100%;
        text-align: center;
        margin-bottom: 55px;
      }

      .short-name {
        background: #9A8C60;
        width: 52px;
        height: 52px;
        border-radius: 99px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        color: #EFEFEF;
      }

      .name {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        margin-top: 8px;
        color: #535660;
      }
    }

    .carousel-indicators {
      @extend .carousel-indicators-custom;
      margin: 0 auto;
      margin-top: 55px;
      position: relative;

    }
  }

  // service detail

  // Offer
  .offer-section-1 {
    .offer-section-1-breadcrumb {
      background-color: unset;
      padding: 0px;
      margin-bottom: 55px;

      .breadcrumb-item {
        a {
          color: $color-highlight;
        }

        color: #9B9B9B;

        &:first-child {
          margin-right: 34px;
        }

        &:nth-child(2) {
          &::before {
            display: none;
          }
        }

        padding-left: 0px;

        &::before {
          padding: 0px 23px;
        }
      }
    }

    .offer-section-1-pagination {

      ol {
        margin: 0px;
        margin-left: 12px;
        margin-right: 12px;
        list-style: none;
        padding: 0px;

        li {
          all: unset;
          display: none;

          &.active {
            display: block;
          }
        }
      }
    }


  }

  // Offer detail
  .offer-detail__head {
    .banner-small {
      padding-top: 85px;
    }
  }

  .offer-detail__top {
    display: flex;
    flex-direction: column;
    align-items: center;

    .offer-detail__top-title {
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      letter-spacing: 4px;
      text-transform: uppercase;
      color: #7C7C7C;
    }

    .offer-detail__top-description {
      margin-top: 16px;
      font-family: "AvenirNextLTPro-medium";
      font-size: 40px;
      line-height: 55px;
      text-align: center;
      color: #4A4A4A;
      width: 768px;
      max-width: 100%;
    }
  }

  .page-detail__content-info {
    .page-detail__content-info-contact {
      position: sticky;
      top: 10px;
      padding: 40px 70px 46px 55px;
      width: 100%;
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

      @media (min-width: 768px) {
        width: 370px;
        min-width: 370px;
        max-width: 100%;
      }

      .page-detail__content-info-box-item {
        margin-top: 15px;

        .page-detail__content-info-box-item-detail {
          max-width: 201px;
        }


      }

      .page-detail__content-info-box-button {
        margin-top: 30px;
        padding: 15px 20px;
      }
    }

    .page-detail__content-info-detail {
      @media (min-width: 768px) {
        padding-left: 65px;
      }

      .page-detail__content-info-detail-list {
        margin-top: 54px;

        .page-detail__content-info-detail-list__title {
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          text-align: justify;
          color: #4E4E4E;
        }

        ul {
          margin-top: 32px;

          li {
            &:first-child {
              margin-top: 32px;
            }

            max-width: 100%;
            width: 649px;
            font-size: 16px;
            line-height: 25px;
            margin-top: 24px;
            color: #4A4A4A;
            display: flex;

            &:before {
              content: "-";
              display: inline-block;
              margin-right: 8px;
            }
          }
        }
      }

      .title-open {
        font-size: 16px;
        line-height: 19px;
        color: #7C7C7C;
        margin-bottom: 32px;

        span {
          font-family: "AvenirNextLTPro-medium";
          color: #4E4E4E;
        }
      }
    }

    .page-detail__content-info-box__title {
      margin-bottom: 15px;
      font-family: "AvenirNextLTPro-medium";
      font-size: 18px;
      line-height: 24px;
      color: #232323;
      mix-blend-mode: normal;
      opacity: 0.6;
    }



    .page-detail__content-info-box__price {
      margin-bottom: 15px;

      span {
        font-family: "AvenirNextLTPro-medium";
        font-size: 18px;
        line-height: 22px;
        color: #232323;

        &:first-child {

          color: #232323;
          mix-blend-mode: normal;
          opacity: 0.6;
        }

      }
    }

    .page-detail__content-infomation {
      margin-top: 40px;

      >div {
        max-width: 245px;

      }

      .address {
        .address-title {

          font-size: 16px;
          line-height: 19px;

          color: #232323;
        }

        .address-detail {
          margin-top: 16px;
          font-size: 14px;
          line-height: 21px;
          color: #4E4E4E;
        }
      }
    }

    .page-detail__content-info-post {
      &:first-child {
        padding-top: 56px;
      }

      .title {
        margin-top: 24px;
        font-size: 16px;
        line-height: 19px;
        color: #232323;
        margin-bottom: 32px;
        text-align: left;
      }

      .content {
        margin-bottom: 56px;
        font-size: 16px;
        line-height: 19px;
        color: #232323;
        mix-blend-mode: normal;
        opacity: 0.7;
      }
    }
  }

  // Gallery
  .page-gallery-section-1 {
    .gallery-section-1-pagination {
      margin-top: 56px;
    }
  }
}



.container-about {

  .title {}

  .content {
    width: 770px;
    text-align: center;
    max-width: 100%;
  }
}

// Rooms & Suites
.room-container-info {
  padding-bottom: 64px;

  .room-container-info-list-img {
    max-width: 770px;
    width: 100%;


    .carousel {
      position: relative;

      @media all and (transform-3d),
      (-webkit-transform-3d) {

        .carousel-inner>.item.next,
        .carousel-inner>.item.active.right {
          left: 0;
          -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
        }

        .carousel-inner>.item.prev,
        .carousel-inner>.item.active.left {
          left: 0;
          -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
        }
      }

      .carousel-item {
        position: relative;
        max-width: 770px;

        padding-top: 70.3896%;

        img {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.1));
        }
      }
    }

    .carousel-indicators {
      @extend .carousel-indicators-custom;
      margin-left: 0px;
      margin-right: 0px;
      bottom: -64px;
    }

  }


  .room-container-info-content {
    padding-top: 48px;
    max-width: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);

    >div {
      max-width: 287px;
      margin: 0 auto;
      width: 100%;
    }

    .room-container-info-title {
      font-family: "AvenirNextLTPro-medium";
      font-size: 26px;
      line-height: 37px;
      color: #4A4A4A;
      margin-bottom: 16px;

    }

    .room-container-info-description {
      font-size: 16px;
      line-height: 24px;
      color: #4E4E4E;
    }
  }
}

.rooms-suites-section-1 {
  @extend .offer-section-1;

  .box-content {
    margin-bottom: 56px;

    .content {
      button {
        width: 278px !important;
        height: 46px !important;
      }
    }

  }
}

.room-detail-container {
  max-width: 1031px;
  margin: 0 auto;

  .blank-64 {
    height: 64px;
  }

  .room-detail-container-top-content {


    .room-detail-container-top-content__item {
      padding-left: 10px;

      @media (min-width:768px) {
        padding-left: 45px;
      }

      .room-detail-container-top-content__item__title {
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        color: #9B9B9B;
      }

      .room-detail-container-top-content__item__content {
        font-size: 16px;
        line-height: 21px;
        color: #4E4E4E;
      }
    }
  }

  .room-detail-container__line {
    opacity: 0.2;
    background-color: #979797;
    height: 1px;
    width: 100%;
  }

  .room-detail-container__content {
    margin-bottom: 40px;

    .room-detail-container__benefits {
      .room-detail-container__benefits__title {
        font-family: "AvenirNextLTPro-medium";
        font-size: 18px;
        line-height: 22px;

        text-align: justify;

        color: #4E4E4E;
      }

      .room-detail-container__benefits__content {

        li {
          &:first-child {
            margin-top: 32px;
          }

          max-width: 388px;
          font-size: 16px;
          line-height: 25px;
          margin-top: 24px;
          color: #4A4A4A;
          display: flex;

          &:before {
            content: "-";
            display: inline-block;
            margin-right: 8px;
          }
        }
      }
    }

    .room-detail-container__feature {
      .room-detail-container__benefits__title {
        font-family: "AvenirNextLTPro-medium";
        font-size: 18px;
        line-height: 22px;
        text-align: justify;
        color: #4E4E4E;
      }

      ul {
        margin-top: 32px;

        li {
          padding-left: 35px;
          font-size: 16px;
          line-height: 19px;
          color: #4E4E4E;
          margin-bottom: 32px;

          img {
            margin-right: 25px;
            width: 30px;
            object-fit: scale-down;
          }
        }
      }
    }
  }

}


//conferance
.conferance-post {
  margin-bottom: 104px;

  &:last-child {
    margin-bottom: 0px;
  }

  .conferance-post__container {
    padding: 44px 70px;

    .conferance-post__title {
      height: 92px;
      font-family: 'AvenirNextLTPro-medium';
      font-size: 32px;
      line-height: 42px;
      /* or 131% */


      color: #4A4A4A;
    }

    .conferance-post__content {
      margin-bottom: 40px;
      margin-top: 6px;
      width: 430px;
      max-width: 100%;
      font-size: 14px;
      line-height: 24px;
    }

    .item-read-more {
      cursor: pointer;

      img {
        margin-left: 5px;
      }
    }
  }
}

// contact
#contact-us {
  .page-detail__content-info-contact {
    box-shadow: unset;
    padding-top: 0px;
  }
}

//component
.section-swiper {

  .swiper-slide-next,
  .swiper-slide-prev {
    opacity: 0.2;
    width: 36px;
    height: 20px;
  }

  .swiper-button-next {
    right: 20px;

    &:after {
      content: url(/image/swiper/icon-next.svg);
      width: 36px;
      height: 20px;
    }
  }

  .swiper-button-prev {
    left: 20px;

    &:after {
      content: url(/image/swiper/icon-prev.svg);
      width: 36px;
      height: 20px;
    }
  }
}

.line {
  background-color: #E8E8E8;
  height: 1px;
  width: 100%;
}

.section-collapse {
  .card {
    border: unset;

    .card-header {
      background-color: unset;
      border-bottom: 1px solid #CDCDCD;
      padding-left: 0px;
      height: 75px;
      display: flex;
      align-items: center;
      cursor: pointer;

      >div {
        height: 100%;
        width: 100%;
      }

      .collapse-button-head {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 14px;
        height: 100%;
        width: 100%;

        &.collapsed {
          &:before {
            content: url(/image/service/icon-tru.svg);
          }
        }

        &:before {
          content: url(/image/service/icon-plus.svg);
          display: block;
          margin-right: 11px;
        }

      }
    }
  }


}



.form-contact {
  .form-group {
    width: 370px;
    max-width: 100%;

    input {
      height: 46px;
    }

    &.form-group__text-area {
      margin-bottom: 56px;
    }
  }

  button {
    width: 134px;
    height: 32px;
  }
}

.page-detail__content-info-box-container-check-box {
  label {
    padding-left: 15px;
    font-size: 16px;
    line-height: 21px;
    color: #232323;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    .checkmark {
      position: absolute;
      top: 6px;
      left: 0;

      height: 10px;
      width: 10px;
      border: 1px solid $color-7;
      border-radius: 50%;

    }

    &:hover input~.checkmark {
      background-color: #ccc;
    }

    input:checked~.checkmark {
      background-color: $color-7;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    input:checked~.checkmark:after {
      display: block;
    }

    .checkmark:after {
      top: 1px;
      left: 1px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      border: 1px solid white;
      background: $color-7;
    }
  }

}

// footer
footer {
  border: 1px solid #F1F3F8;
  padding-top: 80px;
  margin-top: 23px;

  h1.title {
    text-align: center;
    font-family: 'AvenirNextLTPro-Medium';
    margin-bottom: 24px;
  }

  .description {
    text-align: center;

    span {
      color: #4A4A4A;
      font-size: 18px;
      line-height: 22px;
    }
  }

  form {
    margin-top: 56px;

    input[type=email] {
      border: unset;
      border-bottom: 1px solid #E8E8E8;
      width: 364px;
      max-width: 100%;
      padding: 0px;
      height: 33px;
      margin-bottom: -1px;

      &::-webkit-input-placeholder {
        font-size: 14px;
        line-height: 17px;
        color: #9B9B9B;
      }
    }

    button {
      width: 133.93px;
      height: 32px;

    }
  }

  .footer-content {
    border-top: 1px solid #F1F3F8;
    margin-top: 104px;
    padding-top: 104px;
    font-size: 14px;
    line-height: 34px;

    a {

      color: $color-primary;
    }

    .address {
      a {

        color: $color-highlight;
      }
    }
  }

  .social {
    li {
      a {
        margin-left: 20px;
      }
    }
  }

  .coppy-right {
    display: flex;
    align-items: center;
    height: 102px;
    border-top: 1px solid #F1F3F8;
    font-size: 14px;
    line-height: 17px;
    color: #CDCDCD;
  }
}