@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  src: url('AvenirNextLTPro-Bold.woff2') format('woff2'),
}

@font-face {
  font-family: 'AvenirNextLTPro-Demi';
  src: url('AvenirNextLTPro-Demi.woff2') format('woff2'),
}

@font-face {
  font-family: 'AvenirNextLTPro-Heavy';
  src: url('AvenirNextLTPro-Heavy.woff2') format('woff2'),
}

@font-face {
  font-family: 'AvenirNextLTPro-Medium';
  src: url('AvenirNextLTPro-Medium.woff2') format('woff2'),
}

@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url('AAvenirNextLTPro-Regular.woff2') format('woff2'),
}

@font-face {
  font-family: 'AvenirNextLTPro-UltLt';
  src: url('AvenirNextLTPro-UltLt.woff2') format('woff2'),
}

body {
  font-family: 'AvenirNextLTPro-Regular',
    Fallback,
    sans-serif;
}

/* varible*/
$color-1: #CCCCCC;
$color-2: #13135E;
$color-3:#B4C3D4;
$color-4: #333333;
$color-5:#FFF6EB;
$color-6:#999999;
$color-7:#9A8C60;



.button {
  @extend button;
}

button {
  background-color: $color-7;
  border: unset;
  color: white;
  font-size: 12px;
  line-height: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.wrapper {

  // head
  header {
    .top {
      background-color: #232323;
      height: 63px;
      display: flex;
      align-items: center;

      .hotline {
        color: white;

        span {
          color: #9B9B9B;
        }
      }

      .contact {
        font-size: 14px;
        line-height: 17px;

        .button {
          width: 117px;
          height: 37px;
        }

        a {
          color: white;
          margin-left: 29px;
        }
      }
    }

    .banner {
      padding-top: 0.446875%;
      position: relative;

      .banner-img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        position: absolute;
      }

      .menu {
        top: 0px;
        left: 0px;
        width: 100%;
        position: absolute;
        background: rgba(35, 35, 35, 0.5);
        background: rgba(35, 35, 35, 0.5);
        display: flex;
        align-items: center;
        height: 84px;


        ul.nav {
          li.item {
            display: inline-flex;
            align-items: center;
            font-size: 16px;
            line-height: 19px;

            a {
              color: white;
            }
          }
        }
      }
    }


  }
}