@font-face {
    font-family: 'AvenirNextLTPro-Bold';
    src: url('AvenirNextLTPro-Bold.woff2') format('woff2'),
}
@font-face {
    font-family: 'AvenirNextLTPro-Demi';
    src: url('AvenirNextLTPro-Demi.woff2') format('woff2'),
}
@font-face {
    font-family: 'AvenirNextLTPro-Heavy';
    src: url('AvenirNextLTPro-Heavy.woff2') format('woff2'),
}
@font-face {
    font-family: 'AvenirNextLTPro-Medium';
    src: url('AvenirNextLTPro-Medium.woff2') format('woff2'),
}
@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('AAvenirNextLTPro-Regular.woff2') format('woff2'),
}
@font-face {
    font-family: 'AvenirNextLTPro-UltLt';
    src: url('AvenirNextLTPro-UltLt.woff2') format('woff2'),
}
body {
    font-family: 'AvenirNextLTPro-Regular',
    Fallback,
    sans-serif;
}