@font-face {
  font-family: '/font/AvenirNextLTPro-Bold';
  src: url('/font/AvenirNextLTPro-Bold.woff2') format('woff2'),
}

@font-face {
  font-family: '/font/AvenirNextLTPro-Demi';
  src: url('/font/AvenirNextLTPro-Demi.woff2') format('woff2'),
}

@font-face {
  font-family: '/font/AvenirNextLTPro-Heavy';
  src: url('/font/AvenirNextLTPro-Heavy.woff2') format('woff2'),
}

@font-face {
  font-family: '/font/AvenirNextLTPro-Medium';
  src: url('/font/AvenirNextLTPro-Medium.woff2') format('woff2'),
}

@font-face {
  font-family: '/font/AvenirNextLTPro-Regular';
  src: url('/font/AvenirNextLTPro-Regular.woff2') format('woff2'),
}

@font-face {
  font-family: '/font/AvenirNextLTPro-UltLt';
  src: url('/font/AvenirNextLTPro-UltLt.woff2') format('woff2'),
}

body {
  font-family: '/font/AvenirNextLTPro-Regular',
    Fallback,
    sans-serif;

  img {
    max-width: 100%;
    object-fit: contain;
    height: auto;
  }
}

/* varible*/
$color-1: #CCCCCC;
$color-2: #13135E;
$color-3:#B4C3D4;
$color-4: #333333;
$color-5:#FFF6EB;
$color-6:#999999;
$color-7:#9A8C60;



.button {
  @extend button;
}

button {
  background-color: $color-7;
  border: unset;
  color: white;
  font-size: 12px;
  line-height: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  &:focus {
    outline: none;
  }

  &.button-style-2 {
    background-color: white;
    border: 1px solid $color-7;
    color: $color-7;
  }
}

.wrapper {
  .container {
    max-width: 1170px;
  }

  ul {
    list-style: none;
    padding: 0px;
  }

  // head
  header {
    .top {
      background-color: #232323;
      height: 63px;
      display: flex;
      align-items: center;

      .hotline {
        color: white;

        span {
          color: #9B9B9B;
        }
      }

      .contact {
        font-size: 14px;
        line-height: 17px;

        .button {
          width: 117px;
          height: 37px;
        }

        a {
          color: white;
          margin-left: 29px;
        }
      }
    }

    .banner {
      padding-top: 44.6875%;
      position: relative;

      .banner-img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        position: absolute;
      }

      .menu {
        top: 0px;
        left: 0px;
        width: 100%;
        position: absolute;
        background: rgba(35, 35, 35, 0.5);
        background: rgba(35, 35, 35, 0.5);
        display: flex;
        align-items: center;
        height: 84px;


        ul.nav {
          li.item {
            display: inline-flex;
            align-items: center;
            font-size: 16px;
            line-height: 19px;

            a {
              color: white;
            }
          }
        }
      }

      .banner-text-content {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .description {
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          letter-spacing: 4px;
          text-transform: uppercase;

          color: #D1D1D1;
        }

        .title {
          font-style: normal;
          font-weight: 500;
          font-size: 58px;
          line-height: 70px;

          text-align: center;

          color: #FFFFFF;
        }
      }
    }


  }

  section {
    .title {
      font-weight: 500;
      font-size: 44px;
      line-height: 59px;
      text-align: center;
      color: #232323;
    }

    &.section-1 {
      .carousel {
        .carousel-item {
          .box-content {
            display: inline-flex;
            width: 100%;

            .cover {
              // max-width: 769px;
              // width: 100%;
              // position: relative;

              img {
                // position: absolute;
                // width: 100%;
                // height: 100%;
                // top: 0px;
                // left: 0xp;
                object-fit: cover;
              }

              // padding-top: 70.481144%;
            }

            .content {
              max-width: 400px;
              width: 100%;
              display: flex;
              justify-content: center;
              box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);

              &>div {
                max-width: 278px;
              }

              h3 {
                font-weight: 500;
                font-size: 26px;
                line-height: 37px;
                color: #4A4A4A;
              }

              p {
                font-size: 16px;
                line-height: 24px;
                color: #4A4A4A;
                margin-bottom: 43px;

              }

              ul {
                padding: 0px;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 27px;

                li {
                  width: 50%;

                  img {
                    margin-right: 10px;
                  }
                }
              }

              button {
                width: 125px;
                height: 35px;
              }
            }
          }
        }

        .carousel-indicators {
          position: relative;
          width: 100%;

          li {
            width: 14px;
            height: 14px;
            border: 1px solid $color-7;
            opacity: 1;
            background-color: white;

            border-radius: 99px;

            &.active {
              background: $color-7;
            }
          }
        }
      }
    }

    &.section-2 {
      ul {
        list-style: none;
        padding: 0px;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(570px, 0.5fr));
        grid-template-rows: repeat(2, 368px);
        width: 100%;

        li {

          .item {
            position: relative;
            padding-top: 64.561%;
            width: 100%;

            .item-title {
              position: absolute;
              padding: 9px 30px;
              left: 0;
              bottom: 14px;
              z-index: 2;
              background: rgba(249, 249, 249, 0.8);
            }

            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 1;
            }
          }

        }

      }

      .button {
        margin: 0 auto;
        width: 170px;
        height: 50px;
      }
    }

    &.section-3 {
      ul {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        // grid-template-rows: repeat(2, 397px);

        li {
          max-width: 270px;
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

}